#images1 {
    white-space: nowrap;
}
#images2 {
    white-space: nowrap;
}
#images3 {
    white-space: nowrap;
}
#images4 {
    white-space: nowrap;
}
img {
    margin-right: 5px;
}
p{
    color: white;
    font-weight: bold;
    font-size: 35px;
}
#overallContainer{
    transform-origin: 0 0;
    transform:scale(0.6);
}